
@{
    ViewBag.Title = "Index";
}

<h2>Files</h2>

<style type="text/css">
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>


<p>
    <div id="dropZone">Drop your files here</div>
    <br>
    Uploaded Files:
    <ul id="uploadResult"></ul>
</p>

<span id="fileList">
    @Html.Action("List")
</span>

<!-- Modal -->
<div class="modal" id="batchLines" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body" >
                <p>This is a large modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var listUrl = function () {
            return '@Url.Action("List", new { pageNumber="sdf" })';
        };

        $(function () {
            $('#dropZone').filedrop({
                url: '@Url.Action("UploadFiles")',
                paramname: 'files',
                maxFiles: 5,
                maxfilesize: 10, // 10 MB
                dragOver: function () {
                    $('#dropZone').css('background', 'blue');
                },
                dragLeave: function () {
                    $('#dropZone').css('background', 'gray');
                },
                drop: function () {
                    $('#dropZone').css('background', 'gray');
                },
                afterAll: function () {
                    $('#dropZone').html('The file(s) have been uploaded successfully!');
                },
                uploadFinished: function (i, file, response, time) {
                    $('#uploadResult').append('<li>' + file.name + '</li>');
                    refreshFiles();
                }
            });
        });

        // From List.cshtml
        $(function () {

            $('a[name="retryBatchLink"]').unbind('click');

            $('a[name="retryBatchLink"]').click(function () {
                var url = $(this).attr('href2');
                $.ajax(url)
                    .success(function (data) {
                        refreshFiles();
                    })
                .fail(function (data) {
                    alert(data)
                });
            });

            $('a[name="linesLink"]').unbind('click');

            $('a[name="linesLink"]').click(function () {
                $('#batchLines .modal-body').html('');
                var url = $(this).attr('href2');
                $.ajax(url)
                    .success(function (data) {
                        $('#batchLines .modal-body').html(data);
                        $('#batchLines').modal();
                    })
                    .fail(function (data) { });
            });

        });
    </script>
}