@model bool

@{
    ViewBag.Title = "Index";
}

<h2>Files</h2>

<style type="text/css">
    #dropZone {
        background: gray;
        border: black dashed 3px;
        width: 200px;
        padding: 50px;
        text-align: center;
        color: white;
    }
</style>


<p>
    <div id="dropZone">Drop your files here</div>
    <br>
    Uploaded Files:
    <ul id="uploadResult"></ul>
</p>

<span id="fileList">
    @Html.Action("List", new { allUsers = Model})
</span>

@section scripts{
    
<script type="text/javascript">
    $(function () {
        var refreshFiles = function () {
            return;
            url = '@Url.Action("List", new { allUsers = Model })';
            $.ajax(url)
                    .success(function (data) {
                        $('#fileList').html(data)
                    })
            setTimeout(refreshFiles, 5000);
        };

        setTimeout(refreshFiles, 5000);

        $('#dropZone').filedrop({
            url: '@Url.Action("UploadFiles")',
            paramname: 'files',
            maxFiles: 5,
            maxfilesize: 10, // 10 MB
            dragOver: function () {
                $('#dropZone').css('background', 'blue');
            },
            dragLeave: function () {
                $('#dropZone').css('background', 'gray');
            },
            drop: function () {
                $('#dropZone').css('background', 'gray');
            },
            afterAll: function () {
                $('#dropZone').html('The file(s) have been uploaded successfully!');
            },
            uploadFinished: function (i, file, response, time) {
                $('#uploadResult').append('<li>' + file.name + '</li>');
                refreshFiles();
            }
        });
    });
</script>
}