@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Mass search tool 
    Developed by <a href="http://magenta.dk">Magenta ApS</a> for <a href="http://nst.dk">Naturstyrelsen</a>
    </p>
