
@{
    ViewBag.Title = "Index";
}

<h2>All users' files</h2>

<span id="fileList">
    @Html.Action("List")
</span>

@section scripts{

    <script type="text/javascript">
        var listUrl = function () {
            return '@Url.Action("List", new { pageNumber="sdf" })';
        };
    </script>
}