<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="dataProvidersGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="dataProviderKeys" type="CprBroker.Utilities.Config.DataProviderKeysSection, CprBroker.Utilities, Version=2.2.5.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="CprBroker.Config.Properties.Settings.CprBrokerConnectionString" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=PART;User ID=cpr;Password=cpr" />
    <add name="mass_pnr_lookup.Properties.Settings.MassPnrLookupConnectionString" connectionString="Data Source=Localhost\SQLEXPRESS;Initial Catalog=mass_pnr_lookup;User ID=cpr;Password=cpr" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <dataProvidersGroup>
    <dataProviderKeys configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>O6aKsMYcB+ita6NO/zkOM4i2jdr9pydlBqPmP9o2fjMGygUmhnHeqi7weaKfb9L+aoebiMTVicA0/m3crIY1krelXSWYIeAm56vv906ueZqtG+pGGmMDM/pqq5JNiniEBpY4fyy8k9lB760z7jxSq7FCIyKX41isemgbvcQWj2YXYlJoj8mnRWpveIu3q5jc/R5rWs0ig3rM8HHiu3JD1kKTRpR0l1WbvpsCReIae6zSZFR4VBtJSow1oeeiFFlFBljYf8kmJ1i1eOAItPa8t3bnFSoFHbBCndkYYl1+UHhMwNvEq9EDicPhxuCUWoSJ0oE3FJCh6SkP8/kcBj+wyw==</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>lQRfIx7WJtP6IvOGNP5ndJqFe7JNScWm4Ctec/GSjeOrlc2C+fA/A+5iJH1JK4DeDgFxz4rNhNSqA/Yr+rAyonzRKmZiNkJP2ryDB82ROc4YNN/nlSnE+Ljcg6uqx+VYzkV7UGcuCT3CRifTOQ3a934xhQvmGA+5N+i3yYoZrBhyIxL/UPQTC11b8D+FsZ7STfiX0JNvM6+ZfE5fAkjXu+8wBJRR1lnl2CjzIJTrmk1MT21EQb/SF+G3dBEdNikTAL22asBIt+6H1aH5rfv1tH3u3+pKC23B4RZ+XfriAl2y1TVk/FEwXQ34oOITsSJP7k8VjTUpYEsJAJlTmkbdwP8mlbbu93UCImxeLbxJXqCpTuBQ21+I+kveeSL0t501bJ/JIUHVt/rpgNeXHX8YYQSfBZ/K7hkYhA0Qko+Fvy5Ytc7/R6lT0P9llzFwUJMzX1hIZL9qd88=</CipherValue>
        </CipherData>
      </EncryptedData>
    </dataProviderKeys>
  </dataProvidersGroup>
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>